<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Home Page</title>
  <%- include('partials/_head') %>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <main>
    <p>Want to create a new poll? <a href="/new">Create new poll here</a></p>
  </main>
</body>

</html>
