<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Message</title>
  <%- include('partials/_head') %>
</head>

<body>

  <%- include('partials/_header') %>
    <main>
      <div>
        <p class="errorMsg">
          <%= msg %>
        </p><br>
        <a href="/">Go Back to Home Page</a>
      </div>
    </main>
</body>

</html>
