<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Poll</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/new.js"></script>
</head>

<body>
  <h1>Create a poll</h1>
  <form method="POST" action="/new">
    <label>title: </label>
    <br />
    <input type="text" name="title" style="width: 300px; margin: 0.5em"/>
    <br />

    <label>description: </label>
    <br />
    <input type="text" name="description" style="width: 300px; margin: 0.5em"/>
    <br />
    <button type="submit" class="btn btn-primary">Create new poll</button>

  </form>
</body>

</html>
