nav {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  border-bottom: thick solid #057782;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: rgb(163, 208, 219);
  background: linear-gradient(227deg,
      rgba(163, 208, 219, 1) 0%,
      rgba(163, 176, 219, 1) 20%,
      rgba(163, 173, 219, 1) 34%,
      rgba(163, 219, 208, 1) 59%,
      rgba(163, 208, 219, 1) 74%,
      rgba(163, 208, 219, 1) 100%);
}


main {
  width: 75%;
  background-color: #9ad5db;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  td, th {
    text-align: center;
    padding: 0 5px 0 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #057782;
  color: white;
}

input {
  width: 300px;
  margin: 0.5em;
}

.errorMsg {
  color: #FF0000;
  border: 5px solid #FF0000;
  padding: 15px;
  margin-bottom: 50px;
  display: none;
}
